/* Mobile&Tablet */
@media (max-width :1023px) {
    .hide-on-tablet-mobile {
        display: none;
    }
    :root {
    --navbar-height:0px;
    --header-height:68px;
    }
    .header__cart-list {
        position: fixed;
        top: var(--header-with-search);
        right: 0px;
        width: 100%;
        padding: 0 calc((100% - 644px) /2);
    }
    .header__cart-list::after {
        display: none;
    }
    .header {
        position: fixed;
        z-index: 10;
        width: 100%;
        top:0;
    } 
    .app__container {
        margin-top: calc(var(--header-with-search) + var(--header-sort-bar-height));
    }
    .header__sort-bar {
        display:flex;
    }
    .mobile-category {
        display :flex;
    }
    .header__search-option {
        z-index: 1;
    }
    .header__logo-img {
        width: 110px;
    }
    .app__content {
       padding-top: 0;
    }
    
}

 



/* Tablet */
@media (min-width: 740px) and  (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .header__cart {
        width: 75px;
        text-align: right;
    }
    .header__cart-wrap {
        margin-right: -19px;
    }
    .policy-list-item-link {
        margin: 0 11px;
        font-size: 1.1rem;
    }
    .policy-list {
        padding-left: 0;
    }
}  
/* Mobile */
@media (max-width : 739px) {
    .hide-on-mobile {
        display:none;
    }
    .header-with-search {
    justify-content: space-between;
    }
    .header__search {
        /* display:none; */
    }

    .header__logo {
        width: unset;
    }
    .header__cart {
        width: unset;
    }
    .footer {
        padding: 0 4px;
    }
    
    .header__search {
    position: fixed;
    top: var(--header-height);
    z-index: 1;
    
    height: 6;
    height: 46px;
    box-shadow: 0 1px 2px #ddd0d0;
    left: 0;
    right: 0;
    padding: 0 16px;
    animation: mobileSearchSidein linear 0.3s ;
    display:none;
    }
    @keyframes mobileSearchSidein  {
        from {
            opacity: 0;
            top :calc(var(--header-height) / 2);
        }
        to {
            opacity: 1;
            top:var(--header-height);
        }
    }
    .header__search-checkbox:checked ~ .header__search {
        display:flex;
    }
    .header__search-history {
    position: fixed;
    width: 100%;
    top: calc(var(--header-sort-bar-height) + var(--header-search));
    }
    .pagination-item__link {
        min-width: 29px;
    }
    .pagination-item {
        margin:0 5px;
        font-size: 1.6rem;
    }
    .app__container {
        margin: 0 4px;
        margin-top : calc(var(--header-sort-bar-height) + var(--header-with-search));
    }
    .policy-list-item-link {
        margin: 0 3px;
        font-size: 0.6rem;
        font-weight: 400;
    }
    .policy-list {
        padding-left: 0px;
    }
    .app__content {
        padding: 0;
    }
    .header__moble-search {
        display: block;
    }
    .header__logo {
        margin-right: -19px;
    }
    .header__cart-wrap {
        padding-right: 12px;
    }
    .footer__heading {
        font-size: 1.2rem;
    }
    .home-product-item__sold {
        margin-right: 8px;
    }
    .home-product-item__rating {
       
        margin-right: 8px;

    }
    .home-product-item__action {
        margin-right: 0;
      } 
    .header__sort-bar {
   
    padding-left: 0;
}
        
    
    
}
